.button
  background-color: $darkblue
  color: $light
  text-transform: uppercase
  font-size: 1.29rem
  font-weight: 400
  line-height: 2rem
  font-family: 'Gotham Pro Black'
  border: 0
  cursor: pointer
  &--primary
    background-color: transparent
    font-family: 'Gotham Pro-Medium'
  &--secondary
    background-color: $btnsecondary
    color: $dark
    font-size: 1rem
    font-weight: 700
    letter-spacing: 0.84px

div
  &.invalid
    margin-top: 4.8rem
    margin-left: 1.8rem
    position: absolute
    color: $error
  &.errinvalid
    bottom: -1.3rem
    position: absolute
    color: $error
      

input
  &.invalid
    border-radius: 27px
    border: 1px solid $error
    // box-shadow: 0 0px 20px  $error
  &.errinvalid
    border: 1px solid $error

textarea
  &.errinvalid
    border: 1px solid $error


.scroll-up
  position: fixed
  bottom: 0
  left: 49.3%
  background: transparent url(../img/arrow-up.png)
  cursor: pointer
  width: 30px
  height: 30px
  display: none
  z-index: 999
  &:hover
    transition: color 0.3s
    background-color: rgba($darkblue, 0.2)


.form
  &__label
    color: $black
    font-family: 'Gotham Pro-Medium'
    font-size: 0.86rem
    text-transform: uppercase
    margin-right: 0.9rem
 


[class*="ymaps-2"][class*="-ground-pane"]
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#brightness")
  -webkit-filter: brightness(60%)
