.button
  background-color: $darkblue
  color: $light
  text-transform: uppercase
  font-size: 1.29rem
  font-weight: 400
  line-height: 2rem
  font-family: 'Gotham Pro Black'
  border: 0
  cursor: pointer
  &--primary
    background-color: transparent
    font-family: 'Gotham Pro-Medium'
  &--secondary
    background-color: $btnsecondary
    color: $dark
    font-size: 1rem
    font-weight: 700
    letter-spacing: 0.84px

div
  &.invalid
    margin-top: 4.8rem
    margin-left: 1.8rem
    position: absolute
    color: $error
      

input
  &.invalid
    border-radius: 27px
    border: 1px solid $error


.scroll-up
  position: fixed
  bottom: 0
  right: 50%
  left: 50%
  background: transparent url(../img/arrow-up.png)
  cursor: pointer
  width: 30px
  height: 30px
  display:none
  &:hover
    background-color: rgba($darkblue, 0.2)