@media screen and ( max-width: 1353px )
  html
    font-size: 12px
  .heroswiper
    &-button
      &-prev, &-next
        // background-size: 42px
        width: 80px
        height: 80px
      &-next
        &:hover
          &::before
            width: 80px
            height: 80px
            transform: translate(-80px, 0)
      &-prev
        &:hover
          &::after
            width: 80px
            height: 80px
            transform: translate(-80px, 0)

@media screen and ( max-width: 1200px )
  .menu
    &__logo
      margin-right: 10rem
  .hero
    &__heading
      &--largest 
        font-size: 10.16rem

@media screen and ( max-width: 1035px )
  .hero
    &__heading
      &--big
        font-size: 4rem
      &--largest 
        font-size: 8rem
  .menu
    &__logo
      margin-right: 2rem

  @media screen and ( max-width: 991px )   
    .menu__nav
      display: none 
    .burger-menu
      display: block
    .menu-button 
      position: absolute
      right: 3.2rem
      top: 4.4rem
      display: block
      width: 30px
      height: 2px
      background-color: $dark
      cursor: pointer
      &::before 
        content: ''
        position: absolute
        right: 0px
        top: 0px
        display: block
        width: 30px
        height: 2px
        background-color: $dark
        margin-top: -7px
        transition: transform 0.2s
      &::after 
        content: ''
        position: absolute
        right: 0px
        top: 0px
        display: block
        width: 30px
        height: 2px
        background-color: $dark
        margin-top: 7px
        transition: transform 0.2s
  .footer
    display: none
  .catalog
    &__card
      flex-basis: 50%
  .subscription
    &__form 
      flex-direction: column



@media screen and ( max-width: 860px )   
  .catalog__settings
    flex-direction: column

@media screen and ( max-width: 760px )   
  .catalog__card
    flex-basis: 100%

@media screen and ( max-width: 576px )   
  .menu
    &__account
      display: none
  
