*, *:before, *:after
  box-sizing: border-box
  outline: none

html
  font-size: 14px

body
  font-family: 'Gotham Pro'  
  font-size: 1rem
  color: $dark
  padding: 0
  margin: 0
// h1, h2, h3, h4, h5, h6, strong
//   font-weight: 400

img
  max-width: 100%
  
.title
  text-align: center
  font-size: 1.86rem
  font-weight: 700
  letter-spacing: 4.68px
  text-transform: uppercase
  color: $dark
  font-family: 'Gotham Pro-Medium'

.subtitle
  text-align: center
  color: $midblue
  font-size: 1rem
  font-weight: 400
  line-height: 1.9rem
  margin-top: 1.9rem
  letter-spacing: 0.1px

// hr
//   color: $greynews