.header
  margin: auto
  padding: 3.5rem 0
  left: 0
  top: 0
  width: 100%
  position: fixed
  background-color: $light
  &__nav-item
    color: $dark
    text-decoration: none
    font-size: 1.07rem
    font-weight: 700
    line-height: 2rem
    letter-spacing: 2.1px
    margin-right: 2.5rem
    font-family: 'Gotham Pro-Medium' 
    cursor: pointer
    &:hover
      color: $pink
    &--active
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $dark
        margin-top: 0.5rem
        left: 0
        right: 0
  &__menu
    display: flex
    justify-content: space-between


.menu
  // z-index: 99
  // padding-top: 3.6rem
  display: flex
  justify-content: space-between
  &__logo
    margin-right: 20.04rem
    margin-left: 5.2rem
    &:hover
      filter: invert(1)
  &__basket
    position: relative

.nav
  text-transform: uppercase
  &__item
    text-decoration: none
    color: $light
    font-size: 1.07rem
    font-weight: 700
    line-height: 2rem
    letter-spacing: 2.1px
    margin-right: 2.5rem
    cursor: pointer
    &:hover
      color: $pink
    &--active
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $light
        margin-top: 0.5rem

.account
  float: right
  margin-right: 4.1rem
  display: flex
  &__link
    margin-right: 1.3rem