.header
  margin: auto
  padding: 3.5rem 0
  left: 0
  top: 0
  width: 100%
  position: fixed
  background-color: $light
  z-index: 199
  &__nav-item
    color: $dark
    text-decoration: none
    font-size: 1.07rem
    font-weight: 700
    line-height: 2rem
    letter-spacing: 2.1px
    margin-right: 2.5rem
    font-family: 'Gotham Pro-Medium' 
    cursor: pointer
    &:hover
      transition: color 0.3s
      color: $pink
    &--active
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $dark
        margin-top: 0.5rem
        left: 0
        right: 0
      &:hover
        transition: background 0.3s
        position: relative
        &::after
          content: ''
          display: block
          position: absolute
          width: 100%
          height: 2px
          background-color: $pink
          margin-top: 0.5rem
          left: 0
          right: 0
  &__menu
    display: flex
    justify-content: space-between


.menu
  display: flex
  justify-content: space-between
  &__logo
    margin-right: 19.74rem
    margin-left: 5.2rem
    &:hover
      transition: color 0.3s
      filter: invert(1)
  &__basket
    position: relative
  &-button
    display: none
    z-index: 10
    &-activ 
      height: 0!important
      // background: url('../img/open-menu.svg')
      &::before 
        margin-top: 0
        transform: rotate(45deg) translateY(10px)
        background-color: $dark
      &::after 
        margin-top: 0
        transform: rotate(-45deg) translateY(-10px)
        background-color: $dark


.nav
  text-transform: uppercase
  &__item
    text-decoration: none
    color: $light
    font-size: 1.07rem
    font-weight: 700
    line-height: 2rem
    letter-spacing: 2.1px
    margin-right: 2.5rem
    cursor: pointer
    &:hover
      transition: color 0.3s
      color: $pink
    &--active
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 2px
        background-color: $light
        margin-top: 0.5rem

.account
  float: right
  margin-right: 4.5rem
  margin-top: 0.1rem
  display: flex
  align-items: center
  &__link
    margin-right: 1.3rem

  
.burger-menu
  display: none
  width: 100%
  position: absolute
  right: 0
  top: 0 
  // box-shadow: inset 0 0 10px 3px rgba(34, 34, 34, 0.3)
  // padding: 1rem 0
  background-color: $light
    
  &__nav
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    a
      padding: 0.5rem 0
      margin: 0 1rem
      font-size: 1.5rem
      // width: 100%
      text-align: center
      text-transform: uppercase
      font-family: 'Gotham Pro'
      // box-shadow: inset 0 -1px 0 #202124
      &:hover
        &::after
          display: none
.burger-menu-none
  display: none!important

  