.shop
  padding: 9.1rem 0 10.95rem
  &__subtitle
    color: $secondary
    margin-top: 1.8rem
  &__title
    letter-spacing: 4.18px
    
  &__heading
    max-width: 66.86rem
    margin: auto
    margin-bottom: 4.52rem
  &__social
    margin: auto

.social
  max-width: 9.73rem
  display: flex
  align-items: center
  justify-content: space-between
  &-links
    text-decoration: none
    display: inline-block 
    overflow: hidden
    &--vk
      background: url('../img/shop/vk.png') no-repeat
      width: 11px
      height: 14px
    &--fb
      width: 8px
      height: 18px
      background: url('../img/shop/fb.svg') no-repeat
    &--twitter
      width: 17px
      height: 14px
      background: url('../img/shop/twitter.svg') no-repeat
    &--ok
      width: 11px
      height: 18px
      background: url('../img/shop/ok.svg') no-repeat
    &--youtube
      width: 17px
      height: 12px
      background: url('../img/shop/youtube.svg') no-repeat
      