@charset "UTF-8";
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/Museo/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/Museo/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/Museo/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/Museo/MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothamPro-Black/GothamPro-Black.woff") format("woff2"), url("../fonts/GothamPro-Black/GothamPro-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham Pro-Medium';
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.button {
  background-color: #1a2330;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.29rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: 'Gotham Pro Black';
  border: 0;
  cursor: pointer; }
  .button--primary {
    background-color: transparent;
    font-family: 'Gotham Pro-Medium'; }
  .button--secondary {
    background-color: #eeeeee;
    color: #2d3a4b;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.84px; }

div.invalid {
  margin-top: 4.8rem;
  margin-left: 1.8rem;
  position: absolute;
  color: #ff6666; }

input.invalid {
  border-radius: 27px;
  border: 1px solid #ff6666; }

.scroll-up {
  position: fixed;
  bottom: 0;
  right: 50%;
  left: 50%;
  background: transparent url(../img/arrow-up.png);
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .scroll-up:hover {
    background-color: rgba(26, 35, 48, 0.2); }

.container {
  max-width: 1330px;
  width: 85%;
  margin: auto; }

.row {
  display: flex;
  justify-content: space-between;
  padding: 0 10.6rem 0 5.3rem; }

.col {
  display: flex;
  flex-direction: column; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Gotham Pro';
  font-size: 1rem;
  color: #2d3a4b;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.title {
  text-align: center;
  font-size: 1.86rem;
  font-weight: 700;
  letter-spacing: 4.68px;
  text-transform: uppercase;
  color: #2d3a4b;
  font-family: 'Gotham Pro-Medium'; }

.subtitle {
  text-align: center;
  color: #40494e;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9rem; }

.header {
  margin: auto;
  padding: 3.5rem 0; }
  .header__nav-item {
    color: #2d3a4b;
    text-decoration: none;
    font-size: 1.07rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 2.1px;
    margin-right: 2.5rem;
    cursor: pointer; }
    .header__nav-item:hover {
      color: #ef50a2; }
  .header__menu {
    display: flex;
    justify-content: space-between; }

.menu {
  top: 0;
  z-index: 99;
  padding-top: 3.6rem;
  display: flex;
  justify-content: space-between; }
  .menu__logo {
    margin-right: 20.04rem;
    margin-left: 5.2rem; }
    .menu__logo:hover {
      -webkit-filter: invert(1);
      filter: invert(1); }
  .menu__basket {
    position: relative; }

.nav {
  text-transform: uppercase; }
  .nav__item {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.07rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 2.1px;
    margin-right: 2.5rem;
    cursor: pointer; }
    .nav__item:hover {
      color: #ef50a2; }
    .nav__item--active {
      position: relative; }
      .nav__item--active::after {
        content: '';
        display: block;
        position: absolute;
        width: 69px;
        height: 2px;
        background-color: #ffffff;
        margin-top: 0.5rem; }

.account {
  float: right;
  margin-right: 4.1rem;
  display: flex; }
  .account__link {
    margin-right: 1.3rem; }

.sales {
  background-color: #ffffff; }
  .sales__product {
    display: flex;
    flex-wrap: wrap; }
  .sales__card {
    padding: 2.14rem 8.64rem 6.93rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%; }
    .sales__card--grey {
      background-color: #f3f7f9; }
    .sales__card--right {
      text-align: right; }
  .sales__price {
    color: #ef50a2;
    font-family: 'Gotham Pro Black';
    font-size: 1.29rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
    margin-top: 1.3rem; }
    .sales__price sup {
      font-family: "Gotham Pro";
      font-size: 0.93rem;
      font-weight: 700; }
  .sales__productinfo {
    display: flex;
    flex-direction: column;
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.86rem;
    margin-top: 1.3rem; }
  .sales__name {
    color: #252525;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.57rem;
    text-transform: uppercase;
    margin-top: 0.9rem; }
  .sales__buttons {
    margin-top: 2.1rem; }
  .sales__buybutton {
    display: inline-block;
    border-radius: 21px;
    border: 1px solid #2d3a4b;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.57rem;
    padding: 0.64rem 1.57rem;
    color: #252525; }
    .sales__buybutton:hover {
      background-color: #2d3a4b;
      color: #ffffff; }

.hero {
  background: #5a52a5;
  height: 100vh;
  color: #ffffff; }
  .hero__container {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0; }
  .hero__content {
    margin-top: 14.49rem;
    text-align: center; }
  .hero__heading {
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 2rem; }
    .hero__heading--big {
      font-family: 'Museo Sans Cyrl 700';
      font-size: 5.57rem;
      font-weight: 400;
      line-height: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      margin-bottom: 1.27rem;
      margin-top: 5.4rem; }
    .hero__heading--largest {
      font-family: 'Museo Sans Cyrl 900';
      font-weight: 400;
      font-size: 11.36rem;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: -0.2rem;
      margin-bottom: 1.5rem; }
  .hero__button {
    font-family: 'Gotham Pro Black';
    font-weight: 400;
    padding: 1rem 3.64rem;
    margin-right: 5.07rem; }
    .hero__button:hover {
      background-color: #ef50a2; }
  .hero__price {
    font-family: 'Gotham Pro Black';
    font-size: 4.14rem;
    font-weight: 400;
    text-transform: uppercase; }
    .hero__price sup, .hero__price small {
      font-family: 'Gotham Pro';
      font-weight: 700; }
    .hero__price sup {
      margin: 0;
      font-size: 1.07rem; }
    .hero__price small {
      font-size: 1.57rem; }
  .hero__shopping {
    display: flex;
    align-items: center;
    justify-content: center; }

.heroswiper {
  position: relative; }
  .heroswiper-wrapper {
    height: 100vh; }
  .heroswiper-slide {
    background-blend-mode: multiply; }
    .heroswiper-slide--first {
      background: #5a52a5 url("../img/bg.jpg") no-repeat center/cover; }
    .heroswiper-slide--second {
      background: #5a52a5 url("../img/bg2.jpg") no-repeat center/cover; }
    .heroswiper-slide--third {
      background: #5a52a5 url("../img/bg3.jpg") no-repeat center/cover; }
  .heroswiper-button-prev, .heroswiper-button-next {
    background-size: 42px;
    width: 100px;
    height: 100px;
    bottom: 0;
    z-index: 199;
    top: 47%; }
    .heroswiper-button-prev::after, .heroswiper-button-next::after {
      display: none; }
  .heroswiper-button-prev {
    background: rgba(45, 58, 75, 0.4) url("../img/arrow-prev.svg") no-repeat center;
    left: 0; }
    .heroswiper-button-prev:hover {
      background: #ffffff url("../img/hover-arrow-next.svg") no-repeat center;
      transform: rotate(180deg); }
  .heroswiper-button-next {
    right: 0;
    background: rgba(45, 58, 75, 0.4) url("../img/arrow-next.svg") no-repeat center; }
    .heroswiper-button-next:hover {
      background: #ffffff url("../img/hover-arrow-next.svg") no-repeat center; }

.slide1-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-next.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide1-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-prev.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.slide2-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-prev.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide2-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-first.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.slide3-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-first.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide3-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-next.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.modalbasket {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  right: -2.3rem;
  top: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modalbasket--visible {
    opacity: 1;
    visibility: visible; }
  .modalbasket__dialog {
    position: relative;
    width: 25.8rem;
    background-color: #ffffff;
    padding: 1.9rem 2.57rem 1.43rem; }
    .modalbasket__dialog::after {
      bottom: 99.8%;
      left: 82%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 14px;
      margin-left: -8px; }
  .modalbasket__square {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    transform: translate(18.4rem, -1.4rem) rotate(45deg); }
  .modalbasket__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.23rem; }
  .modalbasket__about {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;
    color: #252525;
    margin-left: 1.14rem; }
  .modalbasket__name {
    font-family: 'Gotham Pro-Medium';
    font-size: 1.07rem;
    font-weight: 700;
    line-height: 1.57rem; }
  .modalbasket__price, .modalbasket__count {
    font-size: 0.86rem;
    font-weight: 700;
    margin-top: 0.8rem; }
  .modalbasket__buttons {
    display: flex;
    justify-content: space-between; }
  .modalbasket__total {
    margin-bottom: 2.17rem; }
    .modalbasket__total::before, .modalbasket__total::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #c9c9c9;
      display: block; }
    .modalbasket__total::before {
      margin-bottom: 0.16rem; }
    .modalbasket__total::after {
      margin-top: 0.36rem; }
  .modalbasket__amount {
    font-family: 'Gotham Pro-Medium';
    font-size: 1.24rem;
    letter-spacing: 0.7px;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #252525; }
  .modalbasket__buttonbasket, .modalbasket__buttonbuy {
    padding: 0.69rem 1.76rem;
    font-size: 1rem; }
    .modalbasket__buttonbasket:hover, .modalbasket__buttonbuy:hover {
      background-color: #5a52a5; }
  .modalbasket__buttonbuy {
    background-color: #ef50a2; }

.modalsearch {
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 82, 165, 0.9);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modalsearch--visible {
    opacity: 1;
    visibility: visible; }
  .modalsearch__dialog {
    position: relative;
    max-width: 87.88rem;
    padding: 14.22rem 21.64rem 21.12rem 19.74rem;
    color: #ffffff; }
  .modalsearch__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: transparent url("../img/close.png") no-repeat center;
    border: none;
    margin: 12px;
    cursor: pointer;
    outline: none; }
  .modalsearch__form {
    display: flex;
    align-items: center; }
  .modalsearch__input {
    color: #a19faf;
    font-family: 'Gotham Pro-Medium';
    border: none;
    font-size: 1.43rem;
    line-height: 28px;
    padding: 1.13rem 1.69rem;
    border-radius: 3px;
    position: relative;
    width: 43rem; }
    .modalsearch__input::-moz-placeholder {
      color: #a19faf; }
    .modalsearch__input:-ms-input-placeholder {
      color: #a19faf; }
    .modalsearch__input::-ms-input-placeholder {
      color: #a19faf; }
    .modalsearch__input::placeholder {
      color: #a19faf; }
  .modalsearch__button {
    position: absolute;
    height: 4.3rem;
    width: 4.8rem;
    right: 21.7rem;
    background: #ffffff url("../img/search.png") no-repeat center;
    border: none;
    border-radius: 3px; }

.modalzoom {
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modalzoom--visible {
    opacity: 1;
    visibility: visible; }
  .modalzoom__dialog {
    position: relative;
    max-width: 87.88rem;
    padding: 0 3rem;
    color: #ffffff; }
  .modalzoom__close {
    position: absolute;
    right: -3.6%;
    top: -1.8%;
    width: 35px;
    height: 35px;
    background: transparent url("../img/close.png") no-repeat center;
    border: none;
    margin: 12px;
    cursor: pointer;
    outline: none; }

.popular {
  background-color: #ffffff;
  padding: 11rem 0; }
  .popular__heading {
    max-width: 37rem;
    margin: auto;
    margin-bottom: 6.28rem; }
  .popular__name {
    font-family: 'Gotham Pro Black';
    color: #2d3a4b;
    font-size: 1.57rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    text-align: center;
    margin-top: 2.64rem; }
  .popular__color {
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem; }
  .popular__price {
    color: #ef50a2;
    font-family: 'Gotham Pro Black';
    font-size: 1.28rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.28rem; }
  .popular__photo {
    margin: auto;
    position: relative; }
  .popular__hover1, .popular__hover2, .popular__hover3, .popular__hover4 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(90, 82, 165, 0.8);
    padding: 11.43rem 5.38rem; }
    .popular__hover1--visible, .popular__hover2--visible, .popular__hover3--visible, .popular__hover4--visible {
      opacity: 1;
      visibility: visible; }
  .popular__iconzoom:hover {
    background: url(../img/popular/hover-zoom.png); }
  .popular__iconbasket:hover {
    background: url(../img/popular/hover-basket.png); }
  .popular__iconheart:hover {
    background: url(../img/popular/hover-heart.png); }

.popularswiper-slide {
  display: flex;
  flex-direction: column;
  cursor: pointer; }

.popularswiper-button-prev, .popularswiper-button-next {
  background-size: 38px;
  width: 38px;
  height: 38px;
  bottom: 0;
  z-index: 199;
  top: 35.3%; }
  .popularswiper-button-prev::after, .popularswiper-button-next::after {
    display: none; }

.popularswiper-button-prev {
  background: url("../img/popular/arrow-prev.png") no-repeat center;
  left: -5.4rem; }
  .popularswiper-button-prev:hover {
    background-color: rgba(26, 35, 48, 0.2); }

.popularswiper-button-next {
  right: -5.3rem;
  background: url("../img/popular/arrow-next.png") no-repeat center; }
  .popularswiper-button-next:hover {
    background-color: rgba(26, 35, 48, 0.2); }

.sliderwrap {
  max-width: 84.29rem;
  margin: auto;
  position: relative; }

.news {
  background-color: #f7f7f7;
  padding: 9.1rem 0; }
  .news__container {
    max-width: 1343px;
    width: 100%; }
  .news__heading {
    max-width: 45rem;
    margin: auto; }
  .news__subtitle {
    margin-top: 1.93rem; }
  .news__block {
    display: flex;
    align-items: stretch;
    margin-top: 6.21rem; }
  .news__card {
    padding: 2.5rem 5.71rem 2.29rem 5.61rem;
    flex-basis: 49%; }
    .news__card--grey {
      margin-left: 0.9rem;
      height: auto;
      width: 1px;
      background-color: #c9c9c9; }
    .news__card--right {
      padding-right: 1.91rem;
      padding-left: 7.1rem; }
  .news__date {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.41rem; }
  .news__month {
    font-family: 'Gotham Pro-Medium';
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: -0.3px;
    margin-bottom: 0.3rem; }
  .news__day {
    font-family: 'Gotham Pro Black';
    font-size: 5.71rem;
    text-transform: uppercase;
    letter-spacing: -3.4px; }
  .news__name {
    font-family: 'Gotham Pro-Medium';
    font-size: 1.57rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.64px; }
  .news__text {
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.86rem;
    margin-top: 1.71rem;
    max-width: 100%; }
    .news__text a {
      display: block;
      font-family: 'Gotham Pro-Medium';
      text-decoration: none;
      color: #333333;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 2.02rem; }

.shop {
  padding: 9.1rem 0; }
  .shop__subtitle {
    color: #666666;
    margin-top: 1.8rem; }
  .shop__heading {
    max-width: 66.86rem;
    margin: auto;
    margin-bottom: 4.52rem; }
  .shop__social {
    max-width: 9.73rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .shop__social-links {
      text-decoration: none;
      display: inline-block;
      overflow: hidden; }
      .shop__social-links--vk {
        background: url("../img/shop/vk.png") no-repeat;
        width: 11px;
        height: 14px; }
        .shop__social-links--vk:hover {
          background: url("../img/shop/vk-hover.png") no-repeat; }
      .shop__social-links--fb {
        width: 8px;
        height: 18px;
        background: url("../img/shop/fb.svg") no-repeat; }
        .shop__social-links--fb:hover {
          background: url("../img/shop/fb-hover.svg") no-repeat; }
      .shop__social-links--twitter {
        width: 17px;
        height: 14px;
        background: url("../img/shop/twitter.svg") no-repeat; }
        .shop__social-links--twitter:hover {
          background: url("../img/shop/twitter-hover.svg") no-repeat; }
      .shop__social-links--ok {
        width: 11px;
        height: 18px;
        background: url("../img/shop/ok.svg") no-repeat; }
        .shop__social-links--ok:hover {
          background: url("../img/shop/ok-hover.svg") no-repeat; }
      .shop__social-links--youtube {
        width: 17px;
        height: 12px;
        background: url("../img/shop/youtube.svg") no-repeat; }
        .shop__social-links--youtube:hover {
          background: url("../img/shop/youtube-hover.svg") no-repeat; }

.subscription {
  background-color: #5b53a6;
  padding: 7.64rem 0; }
  .subscription__heading {
    max-width: 45.92rem;
    margin: auto;
    margin-bottom: 3.3rem; }
  .subscription__title, .subscription__subtitle {
    color: #ffffff; }
  .subscription__subtitle {
    margin-top: 1.8rem; }
  .subscription__form {
    max-width: 56.43rem;
    margin: auto;
    display: flex;
    justify-content: space-between; }
  .subscription__input {
    flex-basis: 68.2%;
    font-family: 'Gotham Pro-Medium';
    border-radius: 27px;
    background-color: #ffffff;
    padding: 1.43rem 1.93rem;
    font-size: 1.14rem;
    color: #8e89be;
    border: none; }
    .subscription__input::-moz-placeholder {
      color: #8e89be;
      font-size: 1.14rem; }
    .subscription__input:-ms-input-placeholder {
      color: #8e89be;
      font-size: 1.14rem; }
    .subscription__input::-ms-input-placeholder {
      color: #8e89be;
      font-size: 1.14rem; }
    .subscription__input::placeholder {
      color: #8e89be;
      font-size: 1.14rem; }
  .subscription__button {
    border-radius: 27px;
    border: 1px solid #ffffff;
    padding: 0 3rem; }
    .subscription__button:hover {
      background-color: #ffffff;
      color: #5b53a6; }

.footer {
  background-color: #171e27;
  padding: 8.31rem 0;
  color: #999999; }
  .footer__address {
    line-height: 1.8rem; }
  .footer__logo {
    margin-bottom: 2.53rem; }
  .footer__link, .footer__email, .footer__phone-number, .footer__skype-account {
    font-size: 0.93rem;
    text-decoration: none;
    color: #999999; }
    .footer__link:hover, .footer__email:hover, .footer__phone-number:hover, .footer__skype-account:hover {
      color: #ffffff; }
  .footer__link {
    margin-bottom: 1.48rem; }
  .footer__block {
    display: flex;
    align-items: start;
    margin-bottom: 2.41rem; }
  .footer__name {
    font-size: 1.07rem;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-bottom: 3.44rem;
    margin-top: 0.5rem; }
  .footer__col {
    max-width: 18.34rem; }
  .footer__icon {
    margin-right: 1.14rem; }

.сataloghero {
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/catalog/bg.jpg") no-repeat center/cover;
  padding: 5.8rem 0 7.7rem; }
  .сataloghero__title {
    color: #ffffff;
    letter-spacing: 0; }
  .сataloghero__subtitle {
    max-width: 33.57rem;
    color: #ffffff;
    margin: auto;
    margin-top: 1.9rem; }
  .сataloghero__link {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer; }
  .сataloghero__nav {
    border-radius: 21px;
    background-color: #ef50a2;
    max-width: 20.86rem;
    margin: auto;
    padding: 0.97rem 2.5rem;
    margin-top: 2.79rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .сataloghero__icon {
    margin-left: 0.5rem;
    margin-right: 0.6rem; }

.catalog {
  padding: 8rem 0; }
  .catalog__row {
    flex-wrap: wrap;
    padding: 0 4.5rem; }
  .catalog__card {
    flex-basis: 23.6%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 3.9rem; }
  .catalog__photo {
    margin: auto; }
  .catalog__name {
    font-family: 'Gotham Pro Black';
    color: #2d3a4b;
    font-size: 1.57rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    text-align: center;
    margin-top: 2.24rem; }
  .catalog__color {
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.3rem; }
  .catalog__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .catalog__price {
    color: #ef50a2;
    font-family: 'Gotham Pro Black';
    font-size: 1.28rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.88rem; }
    .catalog__price--old {
      color: #2d3a4b;
      margin-left: 1.5rem; }
  .catalog__button {
    padding: 0.61rem 2.21rem;
    margin: auto;
    display: block;
    margin-top: 1.5rem; }
  .catalog__quantity, .catalog__filter {
    background: url("../img/catalog/arrow-down.svg") no-repeat right;
    border: none;
    color: #2d3a4b;
    font-family: 'Gotham Pro-Medium';
    font-size: 1.21rem;
    font-weight: 700;
    letter-spacing: -0.34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 1rem;
    cursor: pointer; }
  .catalog__quantity {
    margin-right: 2.07rem; }
  .catalog__filter {
    margin-right: 2.79rem; }
  .catalog__icon {
    margin-right: 1.67rem;
    cursor: pointer; }
    .catalog__icon--list {
      margin-right: 0;
      cursor: pointer; }
  .catalog__settings {
    display: flex;
    justify-content: space-between; }
  .catalog__count {
    color: #cccccc;
    font-family: 'Gotham Pro-Medium';
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: -0.3px; }
  .catalog__settings {
    margin-bottom: 4.64rem;
    padding: 0 5.4rem; }
  .catalog__filters {
    margin-top: -0.3rem; }

@media screen and (max-width: 1353px) {
  html {
    font-size: 12px; }
  .heroswiper-button-prev, .heroswiper-button-next {
    width: 80px;
    height: 80px; }
  .heroswiper-button-next:hover::before {
    width: 80px;
    height: 80px;
    transform: translate(-80px, 0); }
  .heroswiper-button-prev:hover::after {
    width: 80px;
    height: 80px;
    transform: translate(-80px, 0); } }

@media screen and (max-width: 1200px) {
  .menu__logo {
    margin-right: 10rem; }
  .hero__heading--largest {
    font-size: 10.16rem; } }

@media screen and (max-width: 1035px) {
  .hero__heading--big {
    font-size: 4rem; }
  .hero__heading--largest {
    font-size: 8rem; }
  .menu__logo {
    margin-right: 2rem; } }
