@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Museo Cyrillic';
  src: url("../fonts/Museo/MuseoCyrillic-700.woff2") format("woff2"), url("../fonts/Museo/MuseoCyrillic-700.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Museo Cyrillic-900';
  src: url("../fonts/Museo/MuseoCyrillic-900.woff2") format("woff2"), url("../fonts/Museo/MuseoCyrillic-900.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro-Black';
  src: url("../fonts/GothamPro-Black/GothamPro-Black.woff2") format("woff2"), url("../fonts/GothamPro-Black/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro-Medium';
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.button {
  background-color: #1a2330;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.29rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: 'Gotham Pro-Black';
  border: 0;
  cursor: pointer; }

.container {
  max-width: 1330px;
  width: 85%;
  margin: auto; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Gotham Pro';
  font-size: 1rem;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.header {
  padding-top: 3.57rem;
  margin: auto; }

.menu {
  top: 0;
  z-index: 99;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between; }
  .menu__logo {
    margin-right: 20.04rem;
    margin-left: 5.2rem; }
    .menu__logo:hover {
      -webkit-filter: invert(1);
      filter: invert(1); }

.nav {
  text-transform: uppercase; }
  .nav__item {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.07rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 2.1px;
    margin-right: 2.5rem;
    cursor: pointer; }
    .nav__item:hover {
      color: #ef50a2; }
    .nav__item--active {
      position: relative; }
      .nav__item--active::after {
        content: '';
        display: block;
        position: absolute;
        width: 69px;
        height: 2px;
        background-color: #ffffff;
        margin-top: 0.5rem; }

.account {
  float: right;
  margin-right: 4.1rem; }
  .account__link {
    margin-right: 1.3rem; }

.sales {
  background-color: #ffffff; }
  .sales__product {
    display: flex;
    flex-wrap: wrap; }
  .sales__card {
    padding: 2.14rem 8.64rem 6.93rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%; }
    .sales__card--grey {
      background-color: #f3f7f9; }
    .sales__card--right {
      text-align: right; }
  .sales__price {
    color: #ef50a2;
    font-family: 'Gotham Pro-Black';
    font-size: 1.29rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
    margin-top: 1.3rem; }
    .sales__price sup {
      font-family: "Gotham Pro";
      font-size: 0.93rem;
      font-weight: 700; }
  .sales__productinfo {
    display: flex;
    flex-direction: column;
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 1.86rem;
    margin-top: 1.3rem; }
  .sales__name {
    color: #252525;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.57rem;
    text-transform: uppercase;
    margin-top: 0.9rem; }
  .sales__buttons {
    margin-top: 2.1rem; }
  .sales__buybutton {
    display: inline-block;
    border-radius: 21px;
    border: 1px solid #2d3a4b;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.57rem;
    padding: 0.64rem 1.57rem;
    color: #252525;
    background-color: transparent; }
    .sales__buybutton:hover {
      background-color: #2d3a4b;
      color: #ffffff; }

.hero {
  background: #5a52a5;
  height: 100vh;
  color: #ffffff; }
  .hero__container {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0; }
  .hero__content {
    margin-top: 14.49rem;
    text-align: center; }
  .hero__heading {
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 2rem; }
    .hero__heading--big {
      font-family: 'Museo Cyrillic';
      font-size: 5.57rem;
      line-height: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.45rem;
      margin-bottom: 1.27rem;
      margin-top: 5.2rem; }
    .hero__heading--largest {
      font-family: 'Museo Cyrillic-900';
      font-size: 11.36rem;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 1.47rem; }
  .hero__button {
    padding: 1rem 3.64rem;
    margin-right: 5.07rem; }
    .hero__button:hover {
      background-color: #ef50a2; }
  .hero__price {
    font-family: 'Gotham Pro-Black';
    font-size: 4.14rem;
    text-transform: uppercase; }
    .hero__price sup, .hero__price small {
      font-family: 'Gotham Pro';
      font-weight: 700; }
    .hero__price sup {
      margin: 0;
      font-size: 1.07rem; }
    .hero__price small {
      font-size: 1.57rem; }
  .hero__shopping {
    display: flex;
    align-items: center;
    justify-content: center; }

.heroswiper {
  position: relative; }
  .heroswiper-wrapper {
    height: 100vh; }
  .heroswiper-slide {
    background-blend-mode: multiply; }
    .heroswiper-slide--first {
      background: #5a52a5 url("../img/bg.jpg") no-repeat center/cover; }
    .heroswiper-slide--second {
      background: #5a52a5 url("../img/bg2.jpg") no-repeat center/cover; }
    .heroswiper-slide--third {
      background: #5a52a5 url("../img/bg3.jpg") no-repeat center/cover; }
  .heroswiper-button-prev, .heroswiper-button-next {
    background-size: 42px;
    width: 100px;
    height: 100px;
    bottom: 0;
    z-index: 199;
    top: 47%; }
    .heroswiper-button-prev::after, .heroswiper-button-next::after {
      display: none; }
  .heroswiper-button-prev {
    background: rgba(45, 58, 75, 0.4) url("../img/arrow-prev.svg") no-repeat center;
    left: 0; }
    .heroswiper-button-prev:hover {
      background: #ffffff url("../img/hover-arrow-next.svg") no-repeat center;
      transform: rotate(180deg); }
  .heroswiper-button-next {
    right: 0;
    background: rgba(45, 58, 75, 0.4) url("../img/arrow-next.svg") no-repeat center; }
    .heroswiper-button-next:hover {
      background: #ffffff url("../img/hover-arrow-next.svg") no-repeat center; }

.slide1-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-next.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide1-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-prev.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.slide2-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-prev.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide2-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-first.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.slide3-next:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-first.jpg") no-repeat center;
  transform: translate(-100px, 0); }

.slide3-prev:hover::before {
  content: '';
  width: 100px;
  height: 100px;
  background-blend-mode: multiply;
  background: #5a52a5 url("../img/hover-next.jpg") no-repeat center;
  transform: translate(-100px, 0) rotate(180deg); }

.modalbasket {
  visibility: hidden;
  position: fixed;
  z-index: 99;
  right: 16%;
  top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modalbasket--visible {
    opacity: 1;
    visibility: visible; }
  .modalbasket__dialog {
    position: relative;
    width: 25.8rem;
    background-color: #ffffff;
    padding: 1.9rem 2.57rem 1.43rem; }
    .modalbasket__dialog::after {
      bottom: 99.8%;
      left: 82%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 14px;
      margin-left: -8px; }
  .modalbasket__square {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    transform: translate(18.4rem, -1.4rem) rotate(45deg); }
  .modalbasket__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.23rem; }
  .modalbasket__about {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;
    color: #252525;
    margin-left: 1.14rem; }
  .modalbasket__name {
    font-family: "Gotham Pro-Black";
    font-size: 1.07rem;
    font-weight: 700;
    line-height: 1.57rem; }
  .modalbasket__price, .modalbasket__count {
    font-size: 0.86rem;
    font-weight: 700;
    margin-top: 0.8rem; }
  .modalbasket__buttons {
    display: flex;
    justify-content: space-between; }
  .modalbasket__total {
    margin-bottom: 2.17rem; }
    .modalbasket__total::before, .modalbasket__total::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #c9c9c9;
      display: block; }
    .modalbasket__total::before {
      margin-bottom: 0.16rem; }
    .modalbasket__total::after {
      margin-top: 0.36rem; }
  .modalbasket__amount {
    font-family: "Gotham Pro-Black";
    font-size: 1.24rem;
    letter-spacing: 0.7px;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
    display: block; }
  .modalbasket__buttonbasket, .modalbasket__buttonbuy {
    padding: 0.69rem 1.76rem;
    font-size: 1rem; }
    .modalbasket__buttonbasket:hover, .modalbasket__buttonbuy:hover {
      background-color: #5a52a5; }
  .modalbasket__buttonbuy {
    background-color: #ef50a2; }

.modalsearch {
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 82, 165, 0.9);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modalsearch--visible {
    opacity: 1;
    visibility: visible; }
  .modalsearch__dialog {
    position: relative;
    max-width: 87.88rem;
    padding: 14.22rem 21.64rem 21.12rem 19.74rem;
    color: #ffffff; }
  .modalsearch__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: transparent url("../img/close.png") no-repeat center;
    border: none;
    margin: 12px;
    cursor: pointer;
    outline: none; }
  .modalsearch__form {
    display: flex;
    align-items: center; }
  .modalsearch__input {
    color: #a19faf;
    font-family: 'Gotham Pro-Medium';
    border: none;
    font-size: 1.43rem;
    line-height: 28px;
    padding: 1.13rem 1.69rem;
    border-radius: 3px;
    position: relative;
    width: 43rem; }
    .modalsearch__input::-moz-placeholder {
      color: #a19faf; }
    .modalsearch__input:-ms-input-placeholder {
      color: #a19faf; }
    .modalsearch__input::-ms-input-placeholder {
      color: #a19faf; }
    .modalsearch__input::placeholder {
      color: #a19faf; }
  .modalsearch__button {
    position: absolute;
    height: 4.3rem;
    width: 4.8rem;
    right: 21.7rem;
    background: #ffffff url("../img/search.png") no-repeat center;
    border: none;
    border-radius: 3px; }

.popular {
  background-color: #ffffff;
  padding: 11rem 0; }
  .popular__heading {
    max-width: 37rem;
    margin: auto;
    margin-bottom: 6.28rem; }
  .popular__title {
    text-align: center;
    font-size: 1.86rem;
    font-weight: 700;
    letter-spacing: 4.68px;
    text-transform: uppercase;
    color: #2d3a4b; }
  .popular__subtitle {
    text-align: center;
    color: #40494e;
    font-size: 1rem;
    font-weight: 400; }
  .popular__name {
    font-family: 'Gotham Pro-Black';
    color: #2d3a4b;
    font-size: 1.57rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    text-align: center;
    margin-top: 2.64rem; }
  .popular__color {
    color: #40494e;
    font-size: 0.93rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem; }
  .popular__price {
    color: #ef50a2;
    font-family: 'Gotham Pro-Black';
    font-size: 1.28rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.28rem; }
  .popular__photo {
    margin: auto;
    position: relative; }
  .popular__hover1, .popular__hover2, .popular__hover3, .popular__hover4 {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(90, 82, 165, 0.8);
    padding: 11.43rem 5.38rem; }
    .popular__hover1--visible, .popular__hover2--visible, .popular__hover3--visible, .popular__hover4--visible {
      opacity: 1;
      visibility: visible; }
  .popular__iconzoom:hover {
    background: url(../img/popular/hover-zoom.png); }
  .popular__iconbasket:hover {
    background: url(../img/popular/hover-basket.png); }
  .popular__iconheart:hover {
    background: url(../img/popular/hover-heart.png); }

.popularswiper-slide {
  display: flex;
  flex-direction: column;
  cursor: pointer; }

.popularswiper-button-prev, .popularswiper-button-next {
  background-size: 38px;
  width: 38px;
  height: 38px;
  bottom: 0;
  z-index: 199;
  top: 35.3%; }
  .popularswiper-button-prev::after, .popularswiper-button-next::after {
    display: none; }

.popularswiper-button-prev {
  background: url("../img/popular/arrow-prev.png") no-repeat center;
  left: 0; }

.popularswiper-button-next {
  right: 0;
  background: url("../img/popular/arrow-next.png") no-repeat center; }

.sliderwrap {
  max-width: 84.29rem;
  margin: auto; }

@media screen and (max-width: 1353px) {
  html {
    font-size: 12px; }
  .heroswiper-button-prev, .heroswiper-button-next {
    width: 80px;
    height: 80px; }
  .heroswiper-button-next:hover::before {
    width: 80px;
    height: 80px;
    transform: translate(-80px, 0); }
  .heroswiper-button-prev:hover::after {
    width: 80px;
    height: 80px;
    transform: translate(-80px, 0); } }

@media screen and (max-width: 1200px) {
  .menu__logo {
    margin-right: 10rem; }
  .hero__heading--largest {
    font-size: 10.16rem; } }

@media screen and (max-width: 1035px) {
  .hero__heading--big {
    font-size: 4rem; }
  .hero__heading--largest {
    font-size: 8rem; }
  .menu__logo {
    margin-right: 2rem; } }
